global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    option dontlognull

frontend http_front
    bind *:8081
    default_backend http_back

backend http_back
    balance roundrobin
    option httpchk GET /health
    server server1 127.0.0.1:3000 check inter 5000 fall 2 rise 2
    server server2 127.0.0.1:3001 check inter 5000 fall 2 rise 2
    server server3 127.0.0.1:3002 backup
